<h1>利用規約</h1>
<span>・プライバシーポリシー(個人情報保護方針)<br>
  <p></p>
1. 個人情報の利用目的<br>
氏名(又は名称)、世帯数は、利用者を区別する際に利用いたします。<br>
   メールアドレスは、利用者様がログイン時に使用するパスワードを忘れた際にパスワードを再発行する際に利用いたします。   <br>電気、ガス、水道、ガソリン、灯油の使用量情報は、二酸化炭素排出量を算出する際に利用 いたします。   <br>食事の情報は、バーチャルウォーターと二酸化炭素排出量を算出する際に利用いたします。   <br>以上のこと以外では、利用者様の個人情報を利用いたしません。   <br>なお、収集した情報は全て、本研究が終わり次第速やかに削除いたします。<br>
   <p></p>
 2. 個人情報の第三者への開示・提供の禁止   <br>お預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第 三者に開示いたしません。<br>
  ・ご本人様の同意がある場合
  ・法令に基づき開示することが必要である場合<br>
  <p></p>
3. 法令、規範の遵守と見直し   <br>保有する個人情報に関して適用される日本の法令、その他規範を遵守します。<br>
<p></p>
4. お問い合わせについて<br>
  個人情報の取り扱いに関するお問い合わせは下記までご連絡ください。   <br>東邦大学理学部生命圏環境科学科環境政策研究室4年市来亮<br>
  TEL: 090-1107-4226<br>
  Mail: 5614005i@nc.toho-u.ac.jp
</span>
<div class="con">
  ログイン画面に戻る　<span class="login">👉 <%= link_to "ログイン", login_path, class: "get"%></span>
</div>