<title>利用規約</title>
<h1>利用規約</h1>
<span>
　この利用規約（以下、「本規約」）は、東邦大学理学部生命圏環境科学科環境政策研究室（以下、「本研究室」）がインターネット上で提供するサービス（以下、「本サービス」）の利用条件を定めるものです。本アプリの利用については、本規約に必ず同意の上ご利用ください。<br>
<p></p>
第１条（適用）<br>
　本規約は、本サービスを利用するすべてのユーザー（以下、「ユーザー」）に適用されるものとします。
<p></p>
第２条（本サービスとは）<br>
　本サービスとは、インターネット上で利用することができるアプリケーションソフトウェアをいいます。
<p></p>
第３条（利用料金）<br>
　ユーザーは、本サービスのすべてのコンテンツを無料で利用することができます。<br>
　ただし、本サービスを利用するにあたり、必要な携帯電話機、通信機器、オペレーションシステム、通信手段および電力などは、ユーザーの費用と責任で用意しなければなりません。
<p></p>
第４条（禁止事項）<br>
　ユーザーは、本サービスの利用にあたり、以下の行為をしてはなりません。<br>
　1. 法令または公序良俗に違反する行為<br>
　2. 犯罪行為に関連する行為<br>
　3. 本サービスが稼働しているサーバまたはネットワークの機能を破壊したり、妨害したりする行為<br>
　4. 本サービスの運営を妨害する恐れのある行為<br>
　5. 他のユーザーに関する個人情報等を収集または蓄積する行為<br>
　6. 他のユーザーになりすます行為<br>
　7. 本サービスに関連して、反社会的勢力に対して直接または間接に利益を供与する行為<br>
　8. その他、本研究室が不適切と判断する行為



</span>
<h1></h1>
<h3>・プライバシーポリシー(個人情報保護方針)</h3><br>
  <p></p>
<span>
  1. 登録情報の利用目的<br>
　ID、パスワード、世帯数の情報は、利用者を区別する際に利用いたします。<br>
　電気・ガス・水道の使用量情報は、二酸化炭素排出量を算出する際に利用いたします。   <br>
　食事の情報は、バーチャルウォーターと二酸化炭素排出量を算出する際に利用いたします。   <br>
   <p></p>
　なお、収集したデータは統計分析をした上で、個人を特定できない形で本研究論文に使用させていただきます。<br>
　以上の目的以外では、収集した情報を利用いたしません。   <br>

   <p></p>
 3. 個人情報の第三者への開示・提供の禁止   <br>
　お預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第 三者に開示いたしません。<br>
  ・ご本人様の同意がある場合<br>
  ・法令に基づき開示することが必要である場合<br>
  <p></p>
4. 法令、規範の遵守と見直し   <br>
　保有する個人情報に関して適用される日本の法令、その他規範を遵守します。<br>
<p></p>
5. お問い合わせ<br>
　個人情報の取り扱い、その他に関するお問い合わせは下記までご連絡ください。   <br>
  <p></p>
--------------------------------------------------------------<br>
  東邦大学理学部 生命圏環境科学科 環境政策研究室 4年 市来亮<br>
  TEL: 047-472-1560<br>
  Mail: 5614005i@nc.toho-u.ac.jp<br>
--------------------------------------------------------------

<% unless logged_in? %>
  <div class="con">
    ログイン画面に戻る　<span class="login">👉 <%= link_to "ログイン", login_path, class: "get"%></span>
  </div>
<% end %>