<% provide(:title, "新規登録") %>
<% provide(:button_text, "登録") %>
<h1>生命圏環境アプリへようこそ！</h1>
<h2>新規登録</h2>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
<div class="con">
  アカウントをお持ちの方は　<span class="login">👉 <%= link_to "ログイン", login_path, class: "get"%></span>
</div>