<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <div class="image3" style="background-image: url(<%= @user.avatar.url(:medium) %>);"></div>
        <h2><%= @user.name %></h2>
        <% if current_user.id == @user.id %>
          <div class="profile_edit">
            <%= link_to '設定の変更', edit_user_path(current_user) %>
          </div>
        <% end %>
      </h1>
    </section>
  </aside>
</div>
