<h2>カロリー手帳</h2>
<div class="techo">
  <ul class="date">
    <% @meals.each do |m| %>
      <li><%= m.created_at.in_time_zone('Tokyo').to_s(:published_on) %></li>
    <% end %>
  </ul>

  <ul class="cuisine">
    <% @meals.each do |meal| %>
      <% Cuisine.where(id: meal.cuisine_id).each do |i| %>
        <li><%= i.name %><br>⭐️
        <%= i.calorie %>キロカロリー
      <% end %>
          <%= link_to '削除', "/meals/#{meal.id}", method: :delete %>
          </li>
    <% end %>
  </ul>
</div>