<footer class="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container1">
    <nav>
      <ul class="nav navbar-nav">
      <% if logged_in? %>
        <li><%= link_to "ホーム", users_path, class: "foo" %></li>
        <li><%= link_to "環境負荷", kakeibo_path(current_user.id), class: "foo" %></li>
        <li><%= link_to "食事記録", meals_path, class: "foo" %></li>
        <li><%= link_to "家計簿", kakeibos_path, class: "foo" %></li>
      <% end %>
      </ul>
    </nav>
  </div>
</footer>
